@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.f-1em{
    font-size: 1em;
}
.f-1-5em{
    font-size: 1.5em;
}   
.f-1-7em{
    font-size: 1.7em;
} 
.f-2em{
    font-size: 3em;
}
.color-brew{
    color: #9a5f51;
}
.color-light-brew{
    color: #ebbaac;
}
.color-grey{
    color: #5b5b5b;
}
.ls-2px{
    letter-spacing: 2px;
}
.ls-4px{
    letter-spacing: 4px;
}
.m-1p{
    margin: 1px;
}
.mt-1p{
    margin-top: 10px;
}
.font-weight-lt{
    font-weight: 200;
}
/*----- Nav ------*/
header.nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
header.nav img.logo{
    width: 190px;
}
header.nav .bord-nav{
    width: 90%;
    border-bottom: 1px solid #ffffff;
}

/*----------- Slide ----------*/
section.slide {
    border-bottom: 5px solid #ebbaac;   
}
section.slide .text{
    top: 300px;
    left: 50%;
    margin-left: -205px;

}
section.slide .text-slide{
    font-size: 1.8em;
    font-weight: 300;
}
section.slide .btn{
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: 4px;
    color: #9a5f51;
    width: 55%;
    height: 80%;
    background: #ebbaac;
}
/*------------ Sobre -------------*/
section.sobre #avatar{
    width: 190px;
    height: 190px;
}
section.sobre .text-content{
    color: #5b5b5b;
}

section.sobre .mr-6{
    margin-right: 3.4rem;
}
section.sobre .box-title{
    background: #eab9ab;
    letter-spacing: 4px;
    margin-top: -2em;
}
/*--------- Portifolio -----------*/
section.portifolio{
    background: #ebbaac;
}
section.portifolio .border-port{
    width: 65%;
    height: 1px; 
    background: #fff;
}
section.portifolio .bord-let{
    width: 1px;
    height: 300px;
    position: absolute;
    background: #fff;
    left: 50%;
    margin-top: 25px;
}
/*------------ Infos --------------*/
section.info #avatar2{
    width: 180px;
    height: 180px;
}
section.info .bord-inf{
    width: 75%;
    height: 2px;
    background: #5b5b5b;
}
/*----------- Galeria ------------*/
section.galeria .box{
    width:314px;
    height: 201px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
section.galeria .content-box {
    flex-direction: row;
    flex-wrap: wrap;
}
/*---------- Contact -------------*/
section.contato .insta{
    width: 210.8px;
    height: 210.8px;
}
section.contato .box{
    display: inline-block   ;
}
section.contato .contain-img{
    flex-direction: row;
    flex-wrap: wrap;
}
section.contato .bg-black{
    background: #1b1b1b;
}
section.contato .otl-brew{
    outline: #fff!important;
    border: 1px solid #a4a4a4;
    background: transparent;
    padding: 10px;
}
section.contato .btn-email{
    background: #ebbaac;
    color: #1b1b1b;
    border-radius: 3px;
}
/*---------- Footer -----------*/
footer.footer .logo-brew{
    width: 205px;
}
footer.footer .i-social{
    width: 30px;
}
/*--------- Animação -------*/
.animateds {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
section.galeria .box{
    box-sizing: border-box;
    overflow: hidden;
}
section.galeria .box img{
    transform: scale(1);
    transition: all 4000ms;
}
section.galeria .box:hover img{
    transform: scale(1.2);
}
